.vscode/
Standardization.ipynb
KNN/breast-cancer-prediction-accuracy-98-24.ipynb
KNN/data.csv
LinearRegression/placement.csv
LinearRegression/students_marks.csv
Multiple Linear Regression/50_Startups.csv
customer.csv
PRACTICE CSV FILES/
